@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #5e548e;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    align-items: center;
    cursor: pointer;
}

nav ul li {
    padding: 0 20px;
}
.brand-logo img{
    height: 60px;
}


.brand-logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}

.home,.about {
    font-weight: 500;
}

.container {
    min-height: 75vh;
    font-family: 'Varela round';
    display: flex;
    width: 70%;
    margin: 23px auto;
    background-color: black;
    border-radius: 20px;
    padding: 34px;
    color: white;
    background-image: url("bg.jgp.jpg");
    background-size: cover;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 10px;
}

.icons i {
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
}
#myProgressBar {
    width: 1200px;
    cursor: pointer;
}

.songItem {
    height: 70px;
    display: flex;
    background-color: black;
    color: white;
    margin: 12px 0;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem i {
    margin-right: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.songItem img {
    width: 63px;
    margin: 0 23px;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    margin-bottom: 50px;
    margin-left: 23px;
}

